/* Color Variables */
:root {
  --darkBlue: #1d3557;
  --blue: #457b9d;
  --lightBlue: #a8dadc;
  --offWhite: #f1faee;
  --red: #e63946;
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  background-color: var(--offWhite);
}

h1 {
  color: white;
}

img {
  width: 25%;
}

/* Navbar Styling */
.top-nav {
  background-color: var(--darkBlue);
  list-style-type: none;
  font-size: 22px;
  width: 100%;
}

.top-nav {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0;
  padding: 0.5rem;
}

.top-nav a {
  color: white;
}

li a:hover {
  color: var(--red);
}

/* Portfolio Section */
#portfolio {
  background-color: var(--lightBlue);
  /* display: flex; */
}

.portfolio-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.portfolio-items > * {
  padding-bottom: 2%;
  width: 33.33%;
}

/* Contact Section */
#contact {
  background-color: var(--blue);
}
