/* Color Variables */
:root {
  --darkBlue: #1d3557;
  --blue: #457b9d;
  --lightBlue: #a8dadc;
  --offWhite: #f1faee;
  --red: #e63946;
}

body {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--offWhite);
}

h1 {
  color: white;
}

img {
  width: 25%;
}

/* Navbar Styling */
.top-nav {
  background-color: var(--darkBlue);
}
.top-nav ul {
  display: flex;
  flex-direction: row;
}

.top-nav li {
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0.25%;
}

.top-nav a {
  color: white;
}

li a:hover {
  color: var(--red);
}

/* Portfolio Section */
#portfolio {
  background-color: var(--lightBlue);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.individual-item {
  padding-bottom: 2%;
  width: 33.33%;
}

/* Resume Section */
#resume {
  background-color: var(--darkBlue);
}

iframe {
  display: flex;
  text-align: center;
  margin: auto;
  padding: auto;
  width: 80%;
  height: 600px;
}

/* Contact Section */
#contact {
  background-color: var(--blue);
  padding-bottom: 5%;
}

.contact-form {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.input-text {
  background-color: var(--offWhite);
  padding-bottom: 0.5%;
  margin-bottom: 0.5%;
  text-align: center;
  border: #000000 3px ridge;
  box-shadow: 10px #000000;
}

.input-button {
  background-color: var(--darkBlue);
  border: #000000 3px ridge;
  box-shadow: 10px #000000;
  color: var(--offWhite);
  font-size: 16px;
  padding: 0.5%;
}

.input-button:hover {
  background-color: var(--red);
}
